img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    scale: 69%;
    border: 5px solid #000;
    border-radius: 69%;
}

.contents {
    max-width: 500px;
    margin: auto;
    color: #008080;
    font-size: large;
    font-style: bold;
}

h2 {
    color:#000;
}

h3 {
    color:#000;
}

body {
    background-color: #fff;
}
